body{
  padding-top: 60px;
}
h1 {
  margin-bottom: 30px
}
.well > h1 {
text-align: center;
}
.toHide {
display: none;
}

.well > .form-group {
  text-align:center;
} 

.well > .form-control{
  text-align:center;
}

#homeParagraph{
text-align: center;
}

#map_canvas {
    display:block;
    position:absolute;
    height:auto;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin-top:50px;/
}
