body{
  padding-top: 60px;
}
h1 {
  margin-bottom: 30px
}
.container > h1 {
text-align: center;
}
.toHide {
display: none;
}

.container > .form-group {
  text-align:center;
} 

#homeParagraph{
text-align: center;
}

#map_canvas {  
        width: 800px;  
        height: 600px;  
}  
